<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lentelių sarašas</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Table
                </th>
                <th>
                    Create new entry
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Users">Users</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Users">Create</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Items">Items</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Items">Create</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Categorys">Categorys</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Categorys">Create</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Citys">Citys</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Citys">Create</a>
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>
