<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Lentelių sarašas</title>
</head>
<body>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Lentelės pavadinimas
                </th>
                <th>
                    Įterpimas
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Users">Vartotojai</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Users">Įterpti naują įrašą</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Items">Skelbimai</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Items">Įterpti naują įrašą</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Categorys">Kategorijos</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Categorys">Įterpti naują įrašą</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Citys">Miestai</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Citys">Įterpti naują įrašą</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Prices">Kainos</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Prices">Įterpti naują įrašą</a>
                </td>
            </tr>

            <tr>
                <td>
                    <a asp-action="Index" asp-controller="Images">Paveikslėliai</a>
                </td>
                <td>
                    <a asp-action="Create" asp-controller="Images">Įterpti naują įrašą</a>
                </td>
            </tr>

        </tbody>
    </table>
</body>
</html>
